/* src/app/global.css */

/* Päivitetty sivupalkin tyylit */
.sidebar {
  width: 150px; /* Leveys voi olla mikä tahansa haluamasi */
  height: 100%; /* Sivupalkin korkeus täyttää koko sivun korkeuden */
  background-color: rgb(221, 56, 226); /* Sivupalkin taustaväri vihreä */
  color: white;
  overflow-y: auto;
}

.sidebar-content {
  padding: 20px; /* Sisällön sisäinen korkeus täyttää sivupalkin korkeuden */
}

.sidebar h2 {
  margin-bottom: 20px; /* Lisää väliä otsikon ja listan välille */
}

.sidebar ul {
  list-style-type: none; /* Poistaa luettelon pisteen */
  padding: 0;
}

.sidebar li {
  margin-bottom: 30px; /* Lisää väliä listaelementtien välille */
}
