@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 80px;
  height: 900px; 
  background-color: rgb(201, 182, 226);
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.content {
  width: 100%;
  margin: 20px;
  margin: 10px;
}

.sidebar {
  background-color: rgb(233, 147, 207);
  flex-flow: column wrap-reverse;
  overflow: hidden;
  display: right;
  justify-content: left;
}
.side-nav{
  position: sticky;
  overflow-y: scroll;
  max-height: 100vh;
}





